.bottom2 {
    margin-top: 15px;
    margin-left: 60px;
    align-items: center;

    @media screen and (max-width: 767px) {
      margin: 0 auto;
      text-align: center;
      justify-content: center;
    }
    @media screen and (max-width: 1200px) {
      margin: 0;
      text-align: center;
      justify-content: center;
    }

  }
  .bottom2 h4 {
    width: 113px;
    height: 16px;
    left: 531px;
    top: 2751px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $background-color;
    margin: 25px 0px 15px 0px;

    @media screen and (max-width: 767px) {
      margin-left: 122.5px;
    }
    @media screen and (min-width: 768px) {
      margin-left: 45px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
    
  }