.page-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    left: 0px;
    top: 0px;
    background: var(--background-color);
    
  }
  
  
  
  
  
  
  /* LOGO */ 
  
  .logo {
      
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 3.1;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }
  .logo__color1 {
      color: $primary-text-color
  } 
  .logo__color2 {
    color: $background-color;
  }
  
  
  
  
  
  
  
  
  /* NAVBAR */
  
  
  
  
  
  
  
  
  /* CONTACT */
  
  .page-header__contact {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
  }
  .contact__link {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
  }
  
  .contact__mail {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
  }
  .contact__box-mail {
    display: flex;
  }
  .icon__mail {
    cursor: pointer;
  }
  .contact__box-phone {
    display: flex;
    margin-left: 20px;
  }
  .icon__phone {
    cursor: pointer;
  }
  .contact__phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
  } 
  
  
  .contact__box-phone:hover .icon__phone {
    --color4:var(--brand-color)
  }
  .contact__box-mail:hover .icon__mail {
    --color1:var(--brand-color)
  }
  .contact__box-mail:hover .contact__mail {
    color: var(--brand-color);
  }
  .contact__box-phone:hover .contact__phone {
    color: var(--brand-color);
  }




  