.page-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    left: 0px;
    top: 0px;
    background: $background-color;
    
  }
  
  
  
  
  
  
  /* LOGO */ 
  
  .logo {
      
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 3.1;
    letter-spacing: 0.03em;
    color: $brand-color;
  }
  .logo__color1 {
      color: $brand-color;
  } 
  .logo__color2 {
    color: $background-color;
  }
  .logo__color3 {
    color: $main-color;
  }
  
  
  
  
  
  
  
  
  /* NAVBAR */
  
  
  
  
  
  
  
  
  /* CONTACT */
  
  .page-header__contact {
    /* display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $secondary-color
    */
    @media screen and (min-width: 768px) {
      margin-bottom: 21px;
      margin-top: 21px;
      margin-right: 10px;
    }
  
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 100px;
      margin-right: 50px;
  
      
    }
  }
  
  @media screen and (max-width: 767px) {
    .page-header__contact {
      display: none;
    }
  }


  .contact__link {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $secondary-color
  }

  
  .contact__mail {
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $secondary-color
  }
  .contact__box-mail {
    display: flex;
  }
  .icon__mail {
    cursor: pointer;
  }
  .contact__box-phone {
    display: flex;
    margin-left: 20px;
  }
  .icon__phone {
    cursor: pointer;
  }
  .contact__phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $secondary-color;
  } 
  
  
  .contact__box-phone:hover .icon__phone {
    --color4: #2196f3;
  }
  .contact__box-mail:hover .icon__mail {
    --color1: #2196f3;
  }
  .contact__box-mail:hover .contact__mail {
    color: #2196f3;
  }
  .contact__box-phone:hover .contact__phone {
    color: #2196f3;
  }




