.navbar {
    display: flex;
    align-items: center;
    
    &--underline::after {
      position: absolute;
      display: block;
      content: "";
      width: 53px;
      height: 4px;
      border-radius: 2px;
      background-color: $brand-color;
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .navbar {
      display: none;
    }
  }
  

  
  /*
  .navbar--underline::after {
    position: absolute;
    display: block;
    content: "";
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: $brand-color;
    margin-top: 25px;
    margin-bottom: 0;
  }
  
  .navbar__item--transition {
    color: $main-text-color;
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .navbar__item--transition:hover,
  .navbar__item--transition:focus {
    color: $brand-color;
    transform: scale(1.1);
  }
  
  .navbar__item--transition a:hover,
  .navbar__item--transition a:focus {
    color: $brand-color;
    transform: scale(1.1);
  }
  */
  .navbar__item {
    margin-right: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $main-color;

    &--transition {
      color: $main-color;
      transition-property: color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--transition:hover,
    &--transition:focus {
      color: $brand-color;
    transform: scale(1.1)
    }



  }
  .active {
    color: $brand-color;
  }